.profile-wrap{
    height: 100vh;
    width: 100%;
    background: #ffffff;
    padding-top: 4rem;
}
.profile-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 75rem;
  margin: 0 auto;
  font-family: system-ui, sans-serif;
  color: #1f2937;
}

/* LEFT CARD */
.profile-card {
  flex: 1;
  background: #fafafa;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.avatar {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3b82f6;
}

.profile-name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 600;
}

.profile-position {
  margin-bottom: 20px;
  font-size: 0.95rem;
  color: #6b7280;
}

.profile-info p {
  margin: 8px 0;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4b5563;
}

.profile-info i {
  color: #3b82f6;
}

.profile-desc {
  margin-top: 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #4b5563;
}

.edit-btn {
  margin-top: 25px;
  padding: 10px 20px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #2563eb;
}

/* RIGHT CARD */
.profile-projects {
  flex: 2;
  background: #fafafa;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.profile-projects h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #1f2937;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-projects h3 i {
  color: #3b82f6;
}

.profile-projects ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.profile-projects li {
  background: #fafafa;
  margin: 8px 0;
  padding: 12px 16px;
  border-radius: 8px;
  color: #374151;
  font-size: 0.95rem;
  border-left: 4px solid #3b82f6;
  border-bottom: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); border-top: 1px solid rgb(211, 211, 211);
}
