.h-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-family: system-ui, sans-serif;
  position: fixed;
}

/* LEFT SECTION */
.h-navbar-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.h-nav-icon {
  font-size: 1.2rem;
  color: #3b82f6;
  cursor: pointer;
}

.h-nav-logo {
  width: 2rem;
  height: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}

.h-nav-site-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
}

/* MID SECTION */
.h-navbar-center {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.h-search-form {
  display: flex;
  flex: 1;
}

.h-search-form input {
  flex: 1;
  padding: 0.4rem 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.h-search-form button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.h-search-form button:hover {
  background-color: #2563eb;
}

.h-create-btn {
  padding: 0.4rem 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.h-create-btn:hover {
  background-color: #059669;
}

/* SEARCH DROPDOWN */
.h-search-dropdown {
  position: absolute;
  top: 3rem; /* ispod inputa */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.h-search-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.h-search-item:hover {
  background-color: #f3f4f6;
}

.h-search-item img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.h-search-username {
  font-weight: 500;
  font-size: 0.95rem;
  color: #111827;
}

/* RIGHT SECTION */
.h-navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.h-avatar-container {
  position: relative;
  cursor: pointer;
}

.h-nav-avatar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover;
}

/* AVATAR DROPDOWN */
.h-avatar-dropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 200px;
  z-index: 20;
}

.h-avatar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  color: rgb(51, 51, 51);
}

.h-avatar-item:hover {
  background-color: #f3f4f6;
}


.notification-containter{
  border: 1px solid black;
  height: 15rem;
  position: absolute;
  top: 3rem;
  right: 55%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 12.5rem;
  z-index: 20;
  display: flex; flex-direction: column;
}

.notification{
  width: 100%;
  height: 35%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex; align-items: center;
  border-bottom: 1px solid #d1d5db;
  font-size: 0.9rem;
}

.notification p span{
  font-style: italic;
}

.notification-check{
  color: #10b981;
  font-size: 1.2rem;
  cursor: pointer;
}

.notification-decline{
  color: #5c5c5c;
  cursor: pointer;
}

.bell-icon{
  color: #3b82f6;
}

.notification-containter p{
  padding-left: 0.5rem;
}