.addtask-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.addtask-modal-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  min-width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.addtask-employee-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.addtask-employee {
  position: relative;
}

.addtask-employee button {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  background: #e0e0e0;
  border-radius: 10px;
  border: 1px solid rgb(190, 189, 189);

}

.addtask-dropdown {
  position: absolute;
  left: 101%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f1f1f1;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 200px;
  z-index: 10;
}

.addtask-dropdown input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.addtask-dropdown button {
  padding: 0.5rem;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.addtask-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}