.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    120deg,
    #ffffff,
    #f7faff,
    #e6f0ff,
    #f9fbff
  );
  background-size: 300% 300%;
  animation: softMove 10s ease infinite;

  width: 100%;
  padding-top: 5rem;

}


@keyframes softMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login-form {
  background-color: white;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 23.5rem;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3b82f6;
}

.login-form label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.login-form input:focus {
  border-color: #1e3a8a;
}

.login-form button {
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #4886ea;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-link span {
  color: #3b82f6;
  cursor: pointer;
  font-weight: bold;
}
