.navbar{
    width: 100vw;
    height: 5rem;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.762);
}

.nav-logo{
    width: 25%;
    height: 100%;
    display: flex; align-items: center; justify-content: end; gap: 0.5rem;
}

.nav-logo img{
    height: 50%;
    cursor: pointer;
}

.nav-logo h1{
    font-size: 1.5rem;
    width: 40%;
    color: #3b82f6;
    cursor: pointer;
}

.nav-links{
    width: 50%;
    height: 100%;
}

.nav-links ul{
    margin: 0;
    display: flex; align-items: center;
    height: 100%;
    width: 100%;
}

.nav-links ul li{
    width: 13%;
    height: 50%;
    list-style: none;
    display: flex; align-items: center; justify-content: center;
    font-weight: 500;
    color: rgb(20, 20, 20);
    cursor: pointer;
}

.nav-links ul li:hover{
    color: #3b82f6;
}

.nav-profile{
    width: 25%;
    height: 100%;
}

.auth-buttons{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: center; gap: 0.5rem;
}

.auth-buttons button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn {
  background-color: #3b82f6;
  width: 30%;
  color: white;
  border: none;
}

.login-btn:hover {
  background-color: #4287f6;
}

.register-btn {
  background-color: white;
  color: #3b82f6;
  border: 2px solid #3b82f6;
  width: 30%;
}

.register-btn:hover {
  background-color: #3b82f6;
  color: white;
}